{% extends "layout.html" %}
{% block content %}

<form method="POST" action="">
    {{ form.hidden_tag() }}
        <img class="mb-4" src="../static/tbcn-logo2.png" alt="" width="100" height="60">
        <h1 class="h3 mb-3 fw-normal">Please Sign Up</h1>
        <div class="form-floating">
            {% if form.password.errors %}
                {{ form.password(class="form-control is-invalid", id="floatingPassword", placeholder="Password") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control", id="floatingPassword", placeholder="Password") }}
            {% endif %}
            <label for="floatingPassword">Password</label>
        </div>
        <div class="form-floating">
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control is-invalid", id="floatingConfirmPassword", placeholder="Password") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control", id="floatingConfirmPassword", placeholder="Password") }}
            {% endif %}
            <label for="floatingConfirmPassword">Confirm Password</label>
        </div>
    <div>
        {{ form.submit(class="w-100 btn btn-lg btn-primary") }}
    </div>
</form>



{% endblock content %}